.btn-p {
  border-radius: 6px;
  width: min-content;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
